html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  background: #eb0e0e;
  color: #050B1A;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Shojumaru', cursive;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.row {
  width: 100%;
  max-width: 30rem;
  margin: auto;
  margin-top: .5rem;
  text-align: center;
}

.canvas_row {
  display: table-row;
}

.canvas_cell {
  border-style: dotted;
  border-width: .01rem;
  border-color: 629FCC;
  display: table-cell;
}

#canvas {
  background-color: white;
  max-height: 20rem;
  min-height: 70%;
  display: table;
  width: 100%;
  box-shadow: .5rem .5rem 1rem black, -.5rem -.5rem 1rem black;
}

.input {
  font-size: 1.1rem;
  line-height: 1.1rem;
  vertical-align: middle;
  margin-left: .2rem;
  margin-right: .2rem;
}

div.input {
  padding-bottom: .2rem;
  padding-top: .2rem;
  display: inline-block;
}

.input[type=button] {
  background-color: #f0eef1;
  border-radius: 50%;
  font-size: .9rem;
  line-height: 4rem;
  width: 4rem;
}

.input[type=range] {
  opacity: .8;
  height: 1.1rem;
  background: #f0eef1;
  width: 5rem;
}

.input[type=range]:hover {
  opacity: 1;
}